.dialogue-bubble[data-character="yuzuki"][data-dialogue-styles~="nobubble"] {
    opacity: 95%;
    background-color: rgba(0,0,0,0);
    color: white;
    text-shadow: -2px -2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, 2px 2px 0 #000, 0 0 5px #000;
    border: none;
    font-size: 120%;
    text-align: center;
}

.dialogue .fasttalk[data-character="yuzuki"] {
    letter-spacing: -0.1ch;
}
