.dialogue .moon[data-character="juno"] {
  /*Heavy suit filter*/
  color: #71C201;
  text-shadow: 0 1px 0 Black;
}

.dialogue .twang[data-character="juno"] {
  /*Y'all like them old Westerns? */
  color: #FD931E;
  font-weight: 700;
}