.dialogue-bubble[data-character="angela_tom"] hr {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.dialogue .Lumina[data-character="angela_tom"] {
  /*Lumina is talking. */
  color: #03C8F1;
  font-style: italic;
  font-size: 85%;
}

.dialogue .Gnome[data-character="angela_tom"] {
  /*Gnome is talking. */
  color: #7F4B2B;
  font-style: italic;
  font-size: 85%;
}

.dialogue .Sylphid[data-character="angela_tom"] {
  /*Sylphid is talking. */
  color: #E2BD00;
  font-style: italic;
  font-size: 85%;
}

.dialogue .Shade[data-character="angela_tom"] {
  /*Shade is talking. */
  color: #380049;
  font-style: italic;
  font-size: 85%;
}

.dialogue .Undine[data-character="angela_tom"] {
  /*Undine is talking. */
  color: #0833CE;
  font-style: italic;
  font-size: 85%;
}

.dialogue .Salamando[data-character="angela_tom"] {
  /*Salamando is talking. */
  color: #E25A1F;
  font-style: italic;
  font-size: 85%;
}