.dialogue .sleeptalk[data-character="tristana"] {
  /**/
  color: #C4C4C4;
  font-style: italic;
  font-size: 70%;
}

.dialogue .yelling[data-character="tristana"] {
  font-weight: 700;
  font-size: 150%;
}