.dialogue .vinyl[data-character="vinyl"] {
  /*Vinyl's hair color*/
  color: #00999C;
}

.dialogue .kaz[data-character="vinyl"] {
  /*Kaz's hair color*/
  color: #D671B0;
}

.dialogue .phone[data-character="vinyl"] {
  /*Use for phone texts or song lyrics*/
  color: #DB6539;
  text-shadow: 0 0 1px Black;
}