.dialogue .yusei[data-character="yusei_fudo"] {
  /*This is an example style.*/
  color: Black;
}

.dark-mode .dialogue .yusei[data-character="yusei_fudo"] {
  /*This is an example style.*/
  color: White;
}

.dialogue .nadeshiko[data-character="yusei_fudo"] {
  /**/
  color: #C68A9E;
}

.dialogue .gloria[data-character="yusei_fudo"] {
  color: #008040;
}

.dialogue .yuno[data-character="yusei_fudo"] {
  color: #804040;
}

.dialogue .juno[data-character="yusei_fudo"] {
  /**/
  color: #8000FF;
}

.dialogue .seto[data-character="yusei_fudo"] {
  color: #FF8080;
}

.dialogue-bubble[data-character="foobar"] hr {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}