.dialogue .Sakura[data-character="nadeshiko"] {
  /*This is an example style.*/
  color: #004080;
}

.dialogue .Nadeshiko[data-character="nadeshiko"] {
  /*For use with dual poses and forfeits*/
  color: #FF80C0;
}

.dialogue .Kyouko[data-character="nadeshiko"] {
  /*Kyouko's speech in joint poses and forfeits*/
  color: DarkOrange;
}