.dialogue .yae[data-character="yae"] {
  /*Yae is speaking while sharing her spot.*/
  color: Green;
}

.dialogue .sheena[data-character="yae"] {
  /*Due to some bad luck, Sheena is speaking.*/
  color: #8080C0;
}

.dialogue .leon[data-character="yae"] {
  color: #0080FF;
}