.dialogue .tri[data-character="zelda_eow"] {
  /*Tri's dialogue.*/
  color: #0BCC62;
  text-shadow: 0 0 3px #FFFF66;
}

.dialogue .echoZelda[data-character="zelda_eow"] {
  /*Echo Zeldas' dialogue.*/
  color: #CF8D2A;
  text-shadow: 0 0 3px #FFFF66;
}