.dialogue .example[data-character="mari_setogaya"] {
  /*This is an example style.*/
  color: blue;
}

.dialogue .seto[data-character="mari_setogaya"] {
  /*Mari Setogaya is speaking.*/
  color: #A80000;
}

.dialogue-bubble[data-character="mari_setogaya"][data-dialogue-styles~="texting"] {
  background: #DCF8C7;
  clear: both;
  line-height: 22px;
  margin: 8px 0;
  max-width: 85%;
  word-wrap: break-word;
}

.dialogue-bubble[data-character="mari_setogaya"][data-dialogue-styles~="texting"]::before {
    background: #DCF8C7;
    opacity: 100%;
}