.dialogue .example[data-character="tifa"] {
  /*This is an example style.*/
  color: blue;
}

.dialogue .Selftalk[data-character="tifa"] {
  /**/
  font-size: 77%;
}

.dialogue-bubble[data-character="tifa"][data-marker-enable-custom-box] {
    background: rgb(0,1,143);
    background: linear-gradient(180deg, rgba(0,1,143,1) 0%, rgba(1,0,59,1) 100%); 
    border: 2px solid white;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding: 0.3em 0.5em;
    top: 4%;

    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    min-height: 0;
}

.dialogue [data-character="tifa"][data-marker-enable-custom-box] {
    color: white;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 112%;
    font-weight: normal;
    line-height: 0;
}

.dialogue-bubble[data-character="tifa"][data-marker-enable-custom-box]::before {
    background: rgb(0,1,143);
    background: linear-gradient(180deg, rgba(0,1,143,1) 0%, rgba(1,0,59,1) 100%); 
    color: white;
    border: 2px solid;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: white;

    left: 0.4rem;
    top: 0;
    width: auto;
    height: auto;
    bottom: auto;

    content: "Tifa";
    padding: 0.5em 0.25em;
    transform: translate(0.4em, -1.25em);

    font-family: Verdana, Helvetica, sans-serif;
    font-size: 109%;
    font-weight: normal;
    line-height: 0;
    clip-path: none;
}