.dialogue .Whisper[data-character="dolce"] {
  /*This is an example style.*/
  font-size: 70%;
}

.dialogue .Item[data-character="dolce"] {
  /**/
  color: #0080FF;
}

.dialogue .Sofia[data-character="dolce"] {
  color: Red;
}