.dialogue .haunter[data-character="hex_maniac"] {
  /*Haunter talking*/
  color: #CA0CDA;
  text-shadow: 0 0 2px Purple;
}

.dialogue .Whisper[data-character="hex_maniac"] {
  /*Whispering*/
  font-size: 65%;
  color: #3A3A3A;
}

.dialogue .TL[data-character="hex_maniac"] {
  /*Translation*/
  color: Yellow;
  text-shadow: 1px 1px 1px #400040;
  font-size: 50%;
}